.footer_div {
  padding: 20px 80px;
  border-top: 2px solid #e1d2bf;
  display: flex;
  justify-content: center;
  font-family: "Quicksand";
  color: #a17941;
}
@media screen and (max-width: 600px) {
  .footer_div {
    font-size: 14px;
  }
}
