.navbarDivBig {
  border-bottom: 2px solid #e1d2bf;
  position: fixed;
  top: 0;
  left: 0;

  position: relative;
  overflow: hidden;
}
.navbarDiv {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
  padding: 30px 80px;
  /* border: 1px solid black; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff7ed; */
}
.header_sun_div {
  position: absolute;
  left: -5%;
  top: 0;
  transform: rotate(90deg);
  width: 220px;
  height: 220px;
  z-index: -1;
}
.navbarDiv h1 a {
  font-family: "Merienda One";
  z-index: 1;
  color: #a17941;
  font-size: 20px;
}
.navbarDiv ul {
  display: flex;
  font-family: "Quicksand";
}
.navbarDiv ul li {
  margin: 0px 10px;
}
.navbarDiv ul li a {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #a17941;
}
.navbarDiv ul li a.active {
  color: #c7a170;
}
.header_none {
  display: none;
}
.header_none a {
  color: #a17941;
}
@media screen and (max-width: 780px) {
  .navbarDiv {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 680px) {
  .navbarDiv h1 a {
    font-size: 15px;
  }
  .navbarDiv ul:nth-of-type(1) {
    display: none;
  }
  .header_none {
    display: block;
  }
  .header_none button {
    border: none;
    background-color: transparent;
    color: #a17941;
  }
}
