.person_div {
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff7ed; */
  position: relative;
  font-family: "Quicksand";
  overflow: hidden;
  border-bottom: 5px solid white;
  height: calc(100vh - 170px);
  color: #a17941;
}
/* .person_div::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 6px;
  background-color: white;
  bottom: 30%;
  left: 0;
} */
.person_mini_div {
  width: 40%;
  text-align: center;
  position: relative;
  z-index: 1;
  /* background-color: white; */
  /* background-color: #547d69; */

  /* border: 2px solid #547d69; */
  padding: 30px 20px;
  border-radius: 20px;
  overflow: hidden;
  /* color: white; */
}
.person_mini_div h1 {
  padding: 10px 0px;
}
.person_mini_div img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}
.person_sun_div {
  position: absolute;
  top: -10%;
  right: -5%;
  z-index: -1;
}
.person_sun_div img {
  width: 180px;
  height: 170px;
}

.person_sun1_div {
  position: absolute;
  left: 0px;
  bottom: 0;
}
.person_sun1_div img {
  width: 60%;
  /* transform: rotate(150deg); */
}
.person_sun11_div {
  position: absolute;
  /* width: 20%; */
  top: -20%;
  right: -3%;
  transform: rotate(-20deg);
}
.person_sun11_div img {
  width: 100%;
}
